.App {
  text-align: center;
}

.outerButtonDiv {
  display: flex;
  flex-direction: column;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
}

.headingText {
  color: rgb(194, 9, 255);
  font-weight: 700;
  font-size: large;
}
